.ico {
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #CCCCCC, #AAAAAA);
    margin-bottom: 5px;
    opacity: 0.5;
    cursor: pointer;
    width: 32px;
}

.ico:hover {
    opacity: 1;
}
	
.icorow {
    margin-top: 5px;
    width: 100%;
}

.icorow > div {
    float: left;
}
	
.icosp {
    text-align: left;
    color: #666;
    width: 70px;
}

.icosp > span {
    margin-left: 5px;
    color: white;
    display: none;
    font-size: 20px;
    font-weight: 200;
}
	
.icoactive {
    opacity: 1;
    cursor: default;
}

.icoactivesp {
    width: 220px;
}

.icoactivesp > span {
    display: inline;
}

.header {
    box-shadow: 0 3px 3px #BBBBBB;
    top: 0px;
    position: fixed;
    background-image: linear-gradient(to bottom, #222, #111);
    background-color: #1b1b1b;
    border-color: #252525;
    background-repeat: repeat-x;
    width: 100%;
    z-index: 10000;
}

.sidebar {
    box-shadow: 4px 4px 4px #666666;
    padding: 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.tab-pane {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .header {
	position: absolute;
        height: 105px;
    }
}

.clickable {
    cursor: pointer;
}

.miniicon {
    height: 16px;
    margin-right: 5px;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: #008000;
}
.orange {
    color: orange;
}
.gray {
    color: gray;
}
.pill {
    border-radius: 4px;
    color: #FFFFFF;
    height: 26px;
 margin-bottom: 2px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
}
.donepill {
    background-image: linear-gradient(to bottom, #62C462, #51A351);
}
.runningpill {
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
}
.errorpill {
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
}
.queuedpill {
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
}
.pendingpill {
    background-image: linear-gradient(to bottom, #BBBBBB, #666666);
}

.tool {
    border: 1px solid #808080;
    border-radius: 6px;
    box-shadow: 2px 2px 2px;
    padding: 4px;
    width: 32px;
    margin: 10px;
    cursor: pointer;
    height: 32px;
}
.tool:hover {
    background-color: #F0F0F0;
}
.tool:active {
    box-shadow: 0px 0px 1px;
}

.glow{
  animation: shadowThrob 0.9s 4;
  animation-direction: alternate;
  -webkit-animation: shadowThrob 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}
@keyframes shadowThrob {
  from {box-shadow: 0 0 20px rgba(12,65,190, 0.1);}
  to {box-shadow: 0 0 20px rgba(12,65,190, 0.9);}
}
@-webkit-keyframes shadowThrob {
  from {box-shadow: 0 0 20px rgba(12,65,190, 0.1);}
  to {box-shadow: 0 0 20px rgba(12,65,190, 0.9);}
}

.stage {
    background-color: #3a87ad;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.stage > a {
    color: white;
}

.stage > a:focus {
    outline: none;
    text-decoration: none;
}

.stage > a:hover {
    text-decoration: none;
}

.stage > a:visited {
    text-decoration: none;
}

.completedstage {
    background-color: #468847;
}

.helplist {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

.helplist > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}

.helplist > li:before {
    content: "-";
//    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    top: 4px;
    left: -1em;
/*    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    background:#666;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center; */
}

.selectList {
    list-style: none;
    margin: 0px;
}

.selectList > li {
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 3px;
}

.selectList > li > a {
    cursor: pointer;
}

.selectList > li:hover {
    background-color: lightgray;
}